.idea
.github/**
.husky/**
coverage/**
dist/**/tests
docs/**
scripts/**
src/**
tests/**
.codecov.yml
.eslintrc.cjs
.gitignore
.npmignore
.prettierrc
index.ts
jest.config.cjs
jest.config.js
jest.config.js
tsconfig.cjs.json
tsconfig.json
tsconfig.types.json



