dist/tests
dist/examples
examples
src/**
tests/**
.eslintrc.cjs
.gitignore
.npmignore
.prettierrc
index.ts
tsconfig.json
jest.config.cjs
.idea
types/**
coverage/**
.github/**
*.map
docs/**/*
misc/**/*
tsconfig.tsbuildinfo
logo.png
.husky
scripts/**
.codecov.yml
